.box {
    height: 400px;
    padding: 20px;
    color: #fff;
    background: white;
  }
  
  .margin-top-80 {
    margin-top: 80px;
  }

  navbar.navbar-brand {
      background-color: pink;

  }

  .p {
    font-family: "Times New Roman";
  }
  


  .title {
    color: darkcyan;

  }

  .p4 {
    float: right;
  }

  img {
    float: left;
  }

  .container {
    margin: 0px;
    background-color: white;
  }

  h4 {
    margin-top: 35px;
    margin-bottom: 35px;
  }



